[submodule "CloudPaymentsAPIDemo/Libraries/AFNetworking"]
	path = CloudPaymentsAPIDemo/Libraries/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "CloudPaymentsAPIDemo/Libraries/SVProgressHUD"]
	path = CloudPaymentsAPIDemo/Libraries/SVProgressHUD
	url = https://github.com/TransitApp/SVProgressHUD.git
[submodule "CloudPaymentsAPIDemo/Libraries/AFNetworkingActivityLogger"]
	path = CloudPaymentsAPIDemo/Libraries/AFNetworkingActivityLogger
	url = https://github.com/AFNetworking/AFNetworkActivityLogger
